body{

    font-family: 'Montserrat', sans-serif;
    margin: 0;

}

h1{
    font-size: 50px;
}

.blue-color{
    color:blueviolet;
}

.maintitle{
    text-align: center;
}

section{
    display:flex;
}

.share-width{
    width: 50%;
    padding: 40px;
}

.share-width img{
    width:90%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius:10em;
    color:white;
    font-weight: 700;
}
bg-image-setup{
    background-image: url(images/shapes/Group\ 8450.png);
    background-repeat: no-repeat;
}