body{

    font-family: 'Roboto', sans-serif;
    margin:0;
  
}
#gradient-header {
    height: 140px;
    background-image: linear-gradient(red,yellow);
    
   
}

h1{
    font-size: 50px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:inset;
    border-width: 5px;
    padding:0;
  }

/* Diet section */

.blue-color{
    color:blueviolet;
}

.gray-color{
    color: gray;
}

.maintitle{
    text-align: center;
}

.flexible-container{
    display:flex;
    margin-bottom: 100px;
   }



.share-width{
    width: 50%;
    padding-top:10%;
    padding-left: 10%;
    padding-right: 4%;
    
}

.share-width img{
    width: 80%; 
    padding-left: 150px;  
    padding-top: 25px;
}

#imgid {
    width: 50%;
}

#aboutme{
    width: 50%;
    padding-top:10%;

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius:10em;
    color:white;
    font-weight: 700;
}
a{
    padding-top: 50px;
}
.image-over-info{
    
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

 
   
    
}

/* recepies section work*/

#recipies{
    width:51%;
    text-align: center;
    justify-content: center;
    padding-left: 25%;
}
.my-recipies{
    display:flex;    
    text-align: center;
    margin-bottom: 50px;
    
}

.my-recipies-width{
    width:40%;
}

.recipies-area{
    width: 80%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.flex-container {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 100px;
      
  }
.recipies-item img{
    width:97%;
    padding-top:10px;
    
}
  .recipies-item{
    width:27%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px rgb(22, 11, 170);
  }

  /* social Media area */
  .recipies-follwers{
    width:40%;

  }

  .flex-container-followers{
    display:flex;    
    text-align: center;
    margin-bottom: 50px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px rgb(22, 11, 170);
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 35px;
    padding-bottom:30px;
    
    font-weight: bold;

  }

  .flex-icons{
      display: flex;
      padding-left: 2%;
      margin-bottom: 100px;
      justify-content: center;
  }
  .icons{
      width: 30%;
  }

  .icons img{
      width: 100%;
  }
/* footer area */
.flex-footer{
    display:flex;
    justify-content: center;
    
}

.footer-front {
   background-color: black;
   color: white;
   width:100%;
   height:30%;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 20px;
}
  